/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.pointer {
    cursor: pointer;
}
.img-close {
    display: flex;
    justify-content: space-between;
}
.green-snackbar {
    background: rgb(65, 252, 134);
    color: white;
}
.green-snackbar button {
    background-color: rgb(65, 252, 134);
    color: white;
    border: none;
}
.red-snackbar {
    background: #f44336 !important;
    color: white !important;
}
.red-snackbar button {
    background-color: #f44336;
    color: white !important;
    border: none;
}
